.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          %h3.masthead-brand= 'SSO Rails 4 client example application'
          %ul.nav.masthead-nav
            - if user_signed_in?
              %li.active
                %a{:href => "dashboard"}= 'Dashboard'
      .inner.cover
        %h1.cover-heading= 'SSO Rails 4 client example application'
        %p.lead
          %a.btn.btn-primary.sign-in-sso{:href => new_user_session_path}= 'Login to SSO Service'
